@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Medium.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('/expressassets/fonts/Oswald-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Italic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Italic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('/expressassets/fonts/Oswald-Light.woff2') format('woff2'),
        url('/expressassets/fonts/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-SemiBold.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-Italic.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('/expressassets/fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('/expressassets/fonts/Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-MediumItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('/expressassets/fonts/Oswald-Bold.woff2') format('woff2'),
        url('/expressassets/fonts/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Black.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Light.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-Light.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Thin.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-Bold.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('/expressassets/fonts/Oswald-ExtraLight.woff2') format('woff2'),
        url('/expressassets/fonts/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-SemiBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-Italic.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-BoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/expressassets/fonts/Lora-Medium.woff2') format('woff2'),
        url('/expressassets/fonts/Lora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('/expressassets/fonts/Oswald-Medium.woff2') format('woff2'),
        url('/expressassets/fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-Bold.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/expressassets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('/expressassets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('/expressassets/fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Raleway-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/expressassets/fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('/expressassets/fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Concert One';
    src: url('/expressassets/fonts/ConcertOne-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/ConcertOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-BoldItalic.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Bold.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-LightItalic.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Thin.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Italic.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-BlackItalic.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-ThinItalic.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Regular.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Black.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Light.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-MediumItalic.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ATT Aleck Sans';
    src: url('/expressassets/fonts/ATTAleckSans-Medium.woff2') format('woff2'),
        url('/expressassets/fonts/ATTAleckSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

