<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Blank Page</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/expressassets/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
		<style>
		
			
		</style>
		
		
    <!-- Head Libs -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    	// var socket = io('http://<%= ip %>:3000')
    </script>
</head>

<body class='blue'>
	
	<div id='mainContainer'>
		<%- include ('menu') %>    

		<div class='col-md-6 offset-md-3'>
		
			<a href='/bat1switch' class='btn btn-warning' id='enableBatOne'>Enable Bat 1</a> 
			<br />
			<br />
			<a href='/bat2switch' class='btn btn-warning' id='enableBatTwo'>Enable Bat 2</a> 
			<br />
			<br />
			<a href='/bat3switch' class='btn btn-warning' id="enableBatThree">Enable Bat 3</a>
			<br />
			<br />
			<a href='/bat4switch' class='btn btn-warning' id="enableBatFour">Enable Bat 4</a>
			<br />
			<br />
			<a href='/bat5switch' class='btn btn-warning' id="enableBatFive">Enable Bat 5</a> 
		</div>
		 
	</div> <!-- end container -->  




	




	

	<script src="/expressassets/js/jquery-3.4.1.min.js"  crossorigin="anonymous"></script>
    <script src="/expressassets/js/popper.min.js"  crossorigin="anonymous"></script>
    <script src="/expressassets/js/bootstrap.min.js"  crossorigin="anonymous"></script>
	<script src="/expressassets/js/parsley.min.js"  crossorigin="anonymous"></script>
	<script src="/expressassets/js/bootstrap-waitingfor.min.js"  crossorigin="anonymous"></script>
	<script src="/expressassets/js/velocity.min.js"  crossorigin="anonymous"></script>
	<script src="/expressassets/js/jquery.dataTables.min.js"  crossorigin="anonymous"></script>
	<script src="/expressassets/js/dataTables.bootstrap4.min.js"  crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	
	var ip = window.location.host
	console.log(ip)
    var socket = io(ip)



    </script>
	<!-- <script src="/bat.js"  crossorigin="anonymous"></script> -->


	
</body>


</html>