<div class='col-md-6 mt-2 mb-3 offset-md-3 text-center' >
    <a class='btn btn-primary' href='/admin'>Admin</a>
    <a class='btn btn-primary' href='/stats'>Stats</a>
    <a class='btn btn-primary' href='/registration'>Registration</a>
    <a class='btn btn-primary' href='/controlpanel'>Control Panel</a>
    <!-- <a class='btn btn-primary' href='/bat'>Bat Connection</a> -->

</div>