<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="/expressassets/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
        :root {
            --boa-navy: #002868;
            --boa-red:  #c41230;
            --boa-white: #ffffff;
        }

        * { box-sizing: border-box; }

        body {
            background-color: var(--boa-navy);
            font-family: sans-serif;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        #connectionError {
            position: absolute;
            bottom: 0; right: 0;
            width: 100px;
            display: none;
        }

        .reg-wrap {
            width: 100%;
            max-width: 480px;
            padding: 40px 32px;
        }

        .reg-title {
            color: var(--boa-white);
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.12em;
            text-align: center;
            margin-bottom: 6px;
        }

        .reg-subtitle {
            color: var(--boa-red);
            font-size: 38px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            text-align: center;
            margin-bottom: 12px;
            line-height: 1;
        }

        .reg-divider {
            width: 48px;
            height: 4px;
            background: var(--boa-red);
            margin: 0 auto 36px;
            border-radius: 2px;
        }

        .form-control {
            height: 80px;
            font-size: 30px;
            font-weight: 700;
            color: var(--boa-navy);
            background-color: var(--boa-white);
            border: 3px solid var(--boa-white);
            border-radius: 6px;
            text-align: center;
            width: 100%;
            padding: 0 20px;
        }

        .form-control:focus {
            outline: none;
            border-color: var(--boa-red);
            box-shadow: 0 0 0 3px rgba(196, 18, 48, 0.3);
        }

        ::placeholder               { color: #7a9acf !important; }
        ::-webkit-input-placeholder { color: #7a9acf !important; }
        :-ms-input-placeholder      { color: #7a9acf !important; }

        .row { margin-bottom: 20px; }

        .btn-primary {
            height: 80px;
            width: 100%;
            font-size: 28px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            background-color: var(--boa-red) !important;
            border-color: var(--boa-red) !important;
            color: var(--boa-white) !important;
            border-radius: 6px;
            transition: background-color 0.15s;
        }

        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:focus {
            background-color: #a00e27 !important;
            border-color: #a00e27 !important;
        }

        /* Ripple effect */
        .ripple { position: relative; overflow: hidden; transform: translate3d(0,0,0); }
        .ripple:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%; height: 100%;
            top: 0; left: 0;
            pointer-events: none;
            background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
            background-repeat: no-repeat;
            background-position: 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform .5s, opacity 1s;
        }
        .ripple:active:after { transform: scale(0,0); opacity: .3; transition: 0s; }

        input.parsley-success { border-color: #4caf7d !important; }
        input.parsley-error   { border-color: var(--boa-red) !important; }
    </style>

    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="reg-wrap">
        <div class="reg-title">Soccer at Schools</div>
        <div class="reg-subtitle">Enter Score</div>
        <div class="reg-divider"></div>

        <form id='registration'>
            <div class='row'>
                <div class="col">
                    <input type='text' class='form-control' id='firstName' name='firstName'
                        autocomplete="off" placeholder="First Name" required
                        data-parsley-errors-messages-disabled>
                </div>
            </div>
            <div class='row'>
                <div class="col">
                    <input type='text' class='form-control' id='lastName' name='lastName'
                        autocomplete="off" placeholder="Last Initial" required
                        data-parsley-errors-messages-disabled maxlength="1">
                </div>
            </div>
            <div class='row'>
                <div class="col">
                    <input type='number' class='form-control' id='score' name='score'
                        autocomplete="off" placeholder="Score" required
                        data-parsley-errors-messages-disabled>
                </div>
            </div>
            <div class='row'>
                <div class="col text-center">
                    <input type='submit' value='Save Score' class='btn btn-primary ripple' />
                </div>
            </div>
        </form>
    </div>

    <img src='/expressassets/images/disconnected.png' id='connectionError' />

    <script src="/expressassets/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/expressassets/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/expressassets/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/expressassets/js/parsley.min.js" crossorigin="anonymous"></script>
    <script src="/expressassets/js/bootstrap-waitingfor.min.js" crossorigin="anonymous"></script>
    <script src="/expressassets/js/bootbox.all.min.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var ip = window.location.host
        var socket = io(ip)
    </script>
    <script src="/registration.js" crossorigin="anonymous"></script>
</body>
</html>
